/* ------------------------------------------------ */
/* General Styles */
/* ------------------------------------------------ */

* {
    font-family: 'Schibsted Grotesk', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 3.5vw;
}

.row {
    display: flex;
}

.column-1 {
    flex: 50%;

    /* Top Right Bottom Left */
    padding: 100px 250px 100px 250px;
}

.column-2 {
    flex: 25%;
    padding-top: 250px;
    padding-right: 250px;
}

.column-3 {
    flex: 20%;
    text-align: center;
    margin: 25px;
    padding: 20px;
    padding-top: 30px;
    font-size: 1.25vw;
    background-color: rgb(211, 235, 245);
}

.column-4 {
    flex: 1%;
}

/* ------------------------------------------------ */
/* Navigator Styles */
/* ------------------------------------------------ */
nav {
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    text-decoration: none;
    color: gray;
    padding: 15px 20px;
}

nav li select { 
    width: 100%;
    display: block;
    font-size: 0.75vw;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, .5);
}

#nav-icon {
    width: 30px;
    margin-left: 10px;
}

#nav-title {
    padding: 12px 20px;
    color: black;
    font-size: 20px;
}

nav a:hover, nav a:visited, nav a:active {
    border-bottom: 3px solid gray;
    padding-bottom: 10px;
}

.nav-right {
    float: right;
}

.nav-right-links a {
    color: cornflowerblue;
}

.nav-selector {
    width: 85px;
    margin-right: 10px;
}

.nav-selector option {
    font-size: 20px;
}

.nav-right-links a:hover,
.nav-right-links a:visited,
.nav-right-links a:active {
    text-decoration: underline;
    border-bottom: none;
}

/* ------------------------------------------------ */
/* Title Styles */
/* ------------------------------------------------ */

#title {
    padding: 100px;
}

#title-icon {
    width: 300px;
}

#title-background {
    background-color: #073042;
    color: white;
}

input {
    background: url(../img/search.png) no-repeat scroll 10px 10px;
    background-color: white;
    background-size: 25px;
    width: 75%;
    font-size: 1vw;
    margin-top: 50px;
    padding: 10px;
    padding-left: 40px;
}

/* ------------------------------------------------ */
/* Content Styles */
/* ------------------------------------------------ */

.column-3 b {
    vertical-align: top;
}

.shadow-anim:hover,
.shadow-anim:focus {
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    transform: translateY(-0.25em);
    transition: transform ease 0.5s, box-shadow ease 0.5s;
    cursor: pointer;
}

.icon {
    width: 10%;
    margin-right: 25px;
}

.icon-2 {
    width: 5%;
    margin-left: 25px;
}